<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kitchenbazaar">
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:name="common.AppController"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCIfemg2Rz7MQehCIXFVrqAvuGmFqjikAs"/>
        <activity
            android:name="launchingscreens.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashBoard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="launchingscreens.Login"
            android:screenOrientation="portrait"
            />
        <activity android:name="launchingscreens.SignUp"
            android:screenOrientation="portrait"
            />
        <activity android:name="launchingscreens.ForgetPassword"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ProductList"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MyCart"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ContactUs"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".CurrentOrder"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".History"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MyAddress"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MyProfile"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Offers"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".OrderDetails"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".LocationSearch"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
    </application>

</manifest>